{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["positionClasses"],
  "tailwindFunctions": ["twMerge", "clsx", "twJoin"]
}
