services:
  processing:
    image: public.ecr.aws/n0p8j4k5/atlas/app:${GITHUB_SHA}
    container_name: processing
    environment:
      PGHOST:
      PGDATABASE:
      PGUSER:
      PGPASSWORD:
      OSM_DOWNLOAD_URL:
      SKIP_DOWNLOAD:
      SKIP_TAG_FILTER:
      WAIT_FOR_FRESH_DATA:
      SKIP_WARM_CACHE:
      TILES_URL:
      ID_FILTER:
      ENVIRONMENT:
      SYNOLOGY_LOG_TOKEN:
      SYNOLOGY_ERROR_LOG_TOKEN:
      COMPUTE_DIFFS:
    volumes:
      - osmfiles:/data
      - geodata:/data/db
      - /var/run/docker.sock:/var/run/docker.sock
      - ./cache:/var/cache/nginx
    configs:
    - source: warm_chache_conf
      target: /processing/warm-cache/config.json
    networks:
      - app_bridge
    depends_on:
      db:
        condition: service_healthy
  tiles:
    image: ghcr.io/maplibre/martin:v0.11.6
    container_name: tiles
    command: "--config /config.yaml"
    restart: unless-stopped
    environment:
      DATABASE_URL: postgres://${PGUSER}:${PGPASSWORD}@${PGHOST}/${PGDATABASE}
      # https://maplibre.org/martin/troubleshooting.html?highlight=log#troubleshooting
      # RUST_LOG: actix_web=info,martin=debug,tokio_postgres=debug
      RUST_LOG: actix_web=info,martin=info,tokio_postgres=info
    labels:
      traefik.enable: true
      traefik.http.routers.tiles.rule: Host(`${CACHELESS_URL}`)
      traefik.http.routers.tiles.entrypoints: websecure
      traefik.http.routers.tiles.tls.certresolver: letsencrypt
      traefik.http.routers.tiles.tls: true
    ports:
      - 3000:3000
    networks:
      - app_bridge
    configs:
      - source: martin_conf
        target: /config.yaml
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgis/postgis:14-3.3-alpine
    container_name: db
    shm_size: 1gb
    restart: unless-stopped
    environment:
      PGUSER:
      POSTGRES_DB: ${PGDATABASE}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      LANG: en_US.UTF-8
      LC_ALL: en_US.UTF-8
    ports:
      - "5432:5432"
    volumes:
      - geodata:/var/lib/postgresql/data
    configs:
      - source: postgres_conf
        target: /postgresql/postgresql.conf
      - source: postgres_init
        target: /docker-entrypoint-initdb.d/11-postgres.sql
    command: ["-c", "config_file=/postgresql/postgresql.conf"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h ${PGHOST} -d ${PGDATABASE}"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_bridge
volumes:
  geodata:
  osmfiles:
configs:
  martin_conf:
    file: ./configs/martin.yaml
  postgres_init:
    file: ./configs/postgres-init.sql
  postgres_conf:
    file: ./configs/postgres.conf
  warm_chache_conf:
    file: ./configs/warm-cache.json
networks:
  app_bridge:
